{%extends "base_generic.html"%}

{%block content%}

{% load static %}
<link href="{% static 'css/gg.css' %}" rel="stylesheet">
<div class="masthead container d-flex align-items-center flex-column">
<div class="login-page">
<div class="form">
<section>
  <article class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
    <h1>{{marca.marca}}</h1>
      {% if request.user.is_superuser %}
      <br>
      <div class="conteiner-fluid">
        <div class="row">
            <div class=" col-xs-12 col-sm-12 col-lg-12 col-xl-12">
                <a class="btn btn" href="{% url 'marca_update' pk=marca.pk %}" 
                style="background-color: #000000c2; margin: 0px;  color: #ffffff;border-color: black;">
                Actualizar</a>
                <a class="btn btn" href="{% url 'marca_delete' pk=marca.pk %}" 
                style="background-color: #000000c2; margin: 0px;  color: #ffffff; border-color: black;">
                Eliminar</a>
                
            </div>
        </div>
    </div>
      

      {% endif %}
  </article>
</section>
</div>
</div>
</div>

{%endblock%}

