{% extends "base_generic.html" %}

{% block content%}
<p></p>
<h1>Creacion Producto</h1>

<form action ="" method="post">
    {%csrf_token%}
    <table>
        {{form.as_table}}

    </table>
    <div class="container">
        <div>
          <br>
          
        </div>
    </div>
    <input type="submit" value ="Enviar">
</form>
<div style="margin-left:20px;margin-top:20px">
    <h4></h4>
    <div class="container">
        <div>
          <br>
          <br>
          <br>
          <br>
        </div>
    </div>
    </div>

{%endblock%}
