{%extends "base_generic.html"%}

{%block content%}

<h1>Producto: {{producto.nombre}}</h1>
<h5 style="padding-left: 20px; border-color: black; padding-top: 20px;"> <p>Nombre producto: {{producto.nombre}}</p><br>
  <p> ID producto: {{producto.id}}</p><br>
  <p> Precio producto: {{producto.precio}}</p> <br>
  <p> Descripcion Producto: {{producto.descripcion}}
  </p></h5>

<div style="margin-left:20px;margin-top:20px">
<h4></h4>
<div class="container">
    <div>
      <br>
      <br>
      <br>
      <br>
    </div>
</div>
</div>
{%endblock%}