{% extends "base_generic.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link href="{% static 'css/gg1.css' %}" rel="stylesheet">
    </head>
    <body>
        <br>
        <br>
        <div class="gg" style="text-align: center;">
            <p>Rellene el siguiente formulario para resolver cualquier duda que tengas.</p>
        </div>
        <br>
    <div class="gg" >
        
        {% if user.is_authenticated  %}
        
            <form  action="index.html" method="POST">
                <div class="ff">
                <p> Contacto </p>
              <label>Nombre:</label>
              <input type="text" name="nombre" minlength="2">
            
              <label>Apellido: </label>
              <input type="text" name="apellido" minlength="2">
              
              <label>Correo Electrónico: </label>
              <input type="text" name="email" required placeholder="wearthestreet@gmail.cl">
            
              <label>Telefono: </label>
              <input type="text" name="fono" minlength="9" required>
            
              <label>Fecha: </label>
              <input type="date" name="fecha" min="2020-01-01" required>
                
              <label>¿Que necesitas?</label>
              <input type="text" name="opinion" placeholder="Escribe aqui">
              <br>
              <div class="container-fluid">
                  <br>
                <button class="btn btn" id="oso">Enviar</button>
              </div>
            </div>
            </form>
        
          {% else %}
          <div>
            <p>Debes estar registrado para acceder a esta opcion</p>
          </div>

        

        {% endif %}

          </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    </body>
</html>
{% endblock %}