{% extends "base_generic.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}

</head>
<body>

    <!-- Bienvenida con foto -->
    <div class="container-fluid">
        <div class="row" style="padding-top: 20px;">
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12" id="CajaNegra">
            <h1 id="h1">Urban sneakers for him</h1> 
            <p id="P">Las mejores y más exclusivas zapatillas, con las cuales te veras siempre como un campeon, luciendo un estilo increible, con la mejor calidad y comodidad.  <p>
          </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
              <img src="{% static 'img/jordan-reflejo-agua.jpg' %}" class="img-fluid" alt="">
            </div>
        </div>
      </div>

      <!-- Card Nike -->
      <div class="container">
        <div class="row"> 
            <div class="col-lg-4" id="Caja" >        
                <div class="card" >
                  <img class="card-img-top img-fluid" src="{% static 'img/air-max-90-azul.jpg' %}" alt="">            
                  <div class="card-body">
                    <h4 class="card-title">Air Max 90</h4>
                    <p class="card-text">Líneas impecables, versátiles y atemporales: el calzado de la gente regresa con el Nike Air Max 90. 
                        Con la misma suela icónica, los revestimientos cosidos y los detalles clásicos de TPU que has llegado a amar, 
                        te permite caminar entre el panteón del Air. </p>
                    <a href="" class="btn btn" id="boton">Entrar</a>
                  </div>
                </div>          
            </div>
      
            <div class="col-lg-4" id="Caja" >        
                <div class="card" >
                  <div class="card-body">
                    <h4 class="card-title">Air Force 1 '07</h4>
                    <p class="card-text">Básquetbol en el parque, barbacoas y sol de domingo. El resplandor sobrevive con el calzado Nike Air Force 1 ’07, 
                        un modelo clásico del básquetbol, este OG le da un toque novedoso al calzado clasico, pero siempre
                        impecable. </p>
                    <a href="" class="btn btn" id="boton">Entrar</a>
                  </div>
                  <img class="card-img-bottom img-fluid" src="{% static 'img/air-force-1-07.jpg' %}" alt="">                        
                </div>          
            </div>

            <div class="col-lg-4" id="Caja" >        
                <div class="card" >
                  <img class="card-img-top img-fluid" src="{% static 'img/air-max-720.jpg' %}" alt="">            
                  <div class="card-body">
                    <h4 class="card-title">Air Max 720 (OBJ)</h4>
                    <p class="card-text">Distorsiona la atmósfera con el brillo de tu luz con el Nike Air Max 720 (OBJ), 
                        que cuenta con la unidad Air más alta de Nike hasta la fecha. Los colores están inspirados
                         en el mundo natural, un contrapunto al look futurista de este calzado. </p>
                    <a href="" class="btn btn" id="boton">Entrar</a>
                  </div>
                </div>          
            </div>
        </div>
    </div>

     <!-- Card Yezzy -->
     <div class="container">
        <div class="row"> 
            <div class="col-lg-4" id="Caja" >        
                <div class="card" >
                  <img class="card-img-top img-fluid" src="{% static 'img/Adidas-Yeezy-Boost-700-V3_2.jpg' %}" alt="">            
                  <div class="card-body">
                    <h4 class="card-title">Yezzy Boost 700 v3</h4>
                    <p class="card-text">los YEEZY 700 v3 presenta una parte superior compuesta de malla de ingeniería de monofilamento 
                      con superposiciones
                       de RPU para mayor estructura y durabilidad. 
                       La caja de RPU tiene características que brillan en la oscuridad que brindan una apariencia 
                       y sensación únicas. </p>
                    <a href="" class="btn btn" id="boton">Entrar</a>
                  </div>
                </div>          
            </div>
      
            <div class="col-lg-4" id="Caja" >        
                <div class="card" >
                  <div class="card-body">
                    <h4 class="card-title">Yezzy Boost 500 Bone White</h4>
                    <p class="card-text">los YEEZY 500 Bone White presenta una parte superior compuesta de cuero de primera 
                      calidad y malla. Una envoltura de goma a lo largo de la entresuela del pie brinda soporte y 
                      resistencia a la abrasión con detalles de ribetes reflectantes alrededor. </p>
                    <a href="" class="btn btn" id="boton">Entrar</a>
                  </div>
                  <img class="card-img-bottom img-fluid" src="{% static 'img/yeezy-500.jpg' %}" alt="">                        
                </div>          
            </div>

            <div class="col-lg-4" id="Caja" >        
                <div class="card" >
                  <img class="card-img-top img-fluid" src="{% static 'img/yezzy-350-oreo-v2.png' %}" style="padding: 20px;" alt="">            
                  <div class="card-body">
                    <h4 class="card-title">Yeezy Boost 350 V2</h4>
                    <p class="card-text">El YEEZY BOOST 350 V2 presenta una parte superior compuesta de Primeknit rediseñado. 
                      La franja lateral de monofilamento post-teñido está tejida en la parte superior. Los cordones se entretejen con hilos reflectantes. 
                      La entresuela utiliza el innovador BOOST ™. </p>
                    <a href="" class="btn btn" id="boton">Entrar</a>
                  </div>
                </div>          
            </div>
        </div>
      </div>
      <!--  Card Jordan Nike -->
      <div class="container">
        <div class="row"> 
            <div class="col-lg-4" id="Caja" >        
                <div class="card" >
                  <img class="card-img-top img-fluid" src="{% static 'img/air-jordan-1-zoom-crater.jpg' %}" alt="">            
                  <div class="card-body">
                    <h4 class="card-title">Air Jordan 1 Zoom
                      Crater</h4>
                    <p class="card-text">El pack Jordan Crater representa la versión exclusiva de la marca basada en los principios del diseño 
                      circular y es lo último en confección con material compuesto. Esta colección, 
                      que debe su nombre a la espuma Crater reciclada que forma la entresuela del calzado, 
                      une la herencia de la marca Jordan. </p>
                    <a href="" class="btn btn" id="boton">Entrar</a>
                  </div>
                </div>          
            </div>
      
            <div class="col-lg-4" id="Caja" >        
                <div class="card" >
                  <div class="card-body">
                    <h4 class="card-title">Jordan Aerospace 720 JCRD</h4>
                    <p class="card-text">Con más Air en la planta del pie, que cuenta con la unidad Air más alta de Nike hasta la fecha, el Jordan Aerospace 720 JCRD brinda comodidad a 
                      un nivel superior con una estética de estilo de vida distinguida y moderna, Distorsiona la atmósfera con la oscuridad de las Jordan Aerospace 720 JCRD.</p>
                    <a href="" class="btn btn" id="boton">Entrar</a>
                  </div>
                  <img class="card-img-bottom img-fluid" src="{% static 'img/jordan-aerospace-720-jcrd.jpg' %}" alt="">                        
                </div>          
            </div>

            <div class="col-lg-4" id="Caja" >        
                <div class="card" >
                  <img class="card-img-top img-fluid" src="{% static 'img/jordan-3-retro-tinker.jpg' %}" alt="">            
                  <div class="card-body">
                    <h4 class="card-title">Jordan 3 Retro Tinker</h4>
                    <p class="card-text">Cuando Tinker Hatfield presentó por primera vez el futuro AJ3 a 
                      Michael Jordan, el calzado tenía diseño de Swoosh. El Air Jordan 3 Retro Tinker está inspirado 
                      en los bocetos originales del AJ3 y se completa con los colores que Tinker dispuso para el 3er 
                      calzado exclusivo de MJ, unas zapatillas maravillosas.</p>
                    <a href="" class="btn btn" id="boton">Entrar</a>
                  </div>
                </div>          
            </div>
        </div>
      </div>

      <!--  Card Adidas -->
      <div class="container">
        <div class="row"> 
            <div class="col-lg-4" id="Caja" >        
                <div class="card" >
                  <img class="card-img-top img-fluid" src="{% static 'img/adidas_Entrap_Mid_Blanco_.jpg' %}" alt="">            
                  <div class="card-body">
                    <h4 class="card-title"> Adidas Entrap Mid</h4>
                    <p class="card-text">Su estilo retro tomado de las canchas de básquet 
                      conecta el pasado y el presenta a la perfección. El exterior de cuero y 
                      gamuza les da una energía retro y la amortiguación moderna las hace perfectas 
                      para las calles.</p>
                    <a href="" class="btn btn" id="boton">Entrar</a>
                  </div>
                </div>          
            </div>
      
            <div class="col-lg-4" id="Caja" >        
                <div class="card" >
                  <div class="card-body">
                    <h4 class="card-title"> Adidas Nitte Jogger Fluid</h4>
                    <p class="card-text">Prepárate para los días más calurosos y las noches más oscuras. Estas zapatillas adidas
                       reflectantes aumentan el nivel de comodidad de las Nite Jogger originales, comodidad de la mañana a la noche. <br> </p>
                    <a href="" class="btn btn" id="boton">Entrar</a>
                  </div>
                  <img class="card-img-bottom img-fluid" src="{% static 'img/Adidas_Nite_Jogger_Fluid_Blanco.jpg' %}" alt="">                        
                </div>          
            </div>

            <div class="col-lg-4" id="Caja" >        
                <div class="card" >
                  <img class="card-img-top img-fluid" src="{% static 'img/adidas_NMD_R1_Gris_.jpg' %}" alt="">            
                  <div class="card-body">
                    <h4 class="card-title">Adidas NMD_R1</h4>
                    <p class="card-text">La próxima evolución del calzado inspirado en el running, 
                      toman el look de outdoor y lo adaptan a las calles.El exterior tejido y la 
                      amortiguación elástica hacen más cómodo y técnico a este modelo urbano.</p>
                    <a href="" class="btn btn" id="boton">Entrar</a>
                  </div>
                </div>          
            </div>
        </div>
      </div>
      
      <!-- Seccion mujer -->
      <div class="container-fluid">
        <div class="row" style="padding-top: 20px;">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <a target="_blank" href="{% url 'zapatilla_mujer' %}"><img src="{% static 'img/ff.jpg' %}" class="img-fluid" alt=""></a>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12" id="CajaNegra2" >
            <h1 id="h1">urban sneakers for her</h1> 
            <p id="P">Las mejores y más exclusivas zapatillas, con las cuales te veras siempre como la numero 1, luciendo un estilo increible, con la mejor calidad y comodidad. <p>
          </div>
        </div>
      </div>

      <!--  Card new balance -->
      <div class="container">
        <div class="row"> 
            <div class="col-lg-4" id="Caja" >        
                <div class="card" >
                  <img class="card-img-top img-fluid" src="{% static 'img/new-balance-850-blancas azul.jpg' %}" alt="">            
                  <div class="card-body">
                    <h4 class="card-title">New Balance 850 </h4>
                    <p class="card-text">levamos la nueva escuela a un clásico con las 850 con una silueta minimalista adelantada 
                      a su tiempo cuando se presentó originalmente en 1996. Cuenta con una mezcla de gamuza y malla transpirable. </p>
                    <a href="" class="btn btn" id="boton">Entrar</a>
                  </div>
                </div>          
            </div>
      
            <div class="col-lg-4" id="Caja" >        
                <div class="card" >
                  <div class="card-body">
                    <h4 class="card-title"> New Balance 997 Sport</h4>
                    <p class="card-text">Las zapatillas 997 Sport para hombre, están dotadas de la amortiguación 
                      en la entresuela con las tecnologías patentadas ENCAP REVEAL y ABZORB, 
                      para ofrecerte estabilidad y amortiguación en la planta del pie. </p>
                    <a href="" class="btn btn" id="boton">Entrar</a>
                  </div>
                  <img class="card-img-bottom img-fluid" src="{% static 'img/New-Balance-997sport-negro-blanco.jpg' %}" alt="">                        
                </div>          
            </div>

            <div class="col-lg-4" id="Caja" >        
                <div class="card" >
                  <img class="card-img-top img-fluid" src="{% static 'img/new-balance-997h-negras.jpg' %}" alt="">            
                  <div class="card-body">
                    <h4 class="card-title">New Balance 997H</h4>
                    <p class="card-text">Por excelencia clásico con señales de diseño de los años 90, su capellada premium 
                      está hecha con un rico material de gamuza y detalles de cuero que te mantienen con un aspecto nítido, mientras la 
                       amortiguación brinda comodidad.</p>
                    <a href="" class="btn btn" id="boton">Entrar</a>
                  </div>
                </div>          
            </div>
        </div>
      </div>

</body>


</html>
{% endblock %}