body{
    background-image: url(../img/rr.jpg);
    }
.gg{
    height: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 400px;
    margin: 0 auto;
    padding: 10px;

    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 20px;

}
.ff{
    margin: 0 auto;
}
    